<form (submit)="register()" class="register-form">
  <h3>ĐĂNG KÝ TÀI KHOẢN</h3>
  <span>Đăng ký là thành viên để hưởng nhiều lợi ích và đặt mua hàng dễ dàng hơn.</span>

  <!-- Tên đăng nhập -->
  <input
    name="userName"
    [(ngModel)]="user.userName"
    placeholder="Tên đăng nhập"
    required
  />

  <!-- Mật khẩu -->
  <div class="password-container">
    <input
      name="password"
      [(ngModel)]="user.password"
      [type]="showPassword ? 'text' : 'password'"
      placeholder="Mật khẩu"
      required
    />
    <i
      class="eye-icon"
      (click)="togglePasswordVisibility()"
      [class.show]="showPassword"
    >
      <i class="bx" [class.bxs-eye]="!showPassword" [class.bxs-eye-off]="showPassword"></i>
    </i>
  </div>

  <!-- Email -->
  <input
    name="email"
    [(ngModel)]="user.email"
    type="email"
    placeholder="Email"
    required
  />

  <!-- Số điện thoại -->
  <input
    name="phoneNumber"
    [(ngModel)]="user.phoneNumber"
    placeholder="Số điện thoại"
    required
  />

  <!-- Tên -->
  <input
    name="name"
    [(ngModel)]="user.name"
    placeholder="Tên"
    required
  />

  <!-- Nút đăng ký -->
  <button type="submit">Đăng ký</button>

  <!-- Nút Đăng nhập -->
  <p class="login-link">Tôi đã có tài khoản? <a href="/login">Đăng nhập</a></p>
</form>
