<div class="auth-wrapper">
  <div class="auth-container">
    <form (submit)="login()" class="login-form">
      <h3>ĐĂNG NHẬP TÀI KHOẢN</h3>
      <span style="font-weight: bold">Thông tin khách hàng đăng nhập hệ thống</span>

      <div class="input-group">
        <input
          [(ngModel)]="credentials.username"
          name="username"
          placeholder="Username"
          required
        />
        <!-- Hiển thị thông báo lỗi cho username -->
        <div *ngIf="errorMessage && !credentials.username" class="error-message">
          Tên đăng nhập không được để trống.
        </div>
      </div>

      <div class="input-group">
        <input
          [(ngModel)]="credentials.password"
          name="password"
          placeholder="Password"
          type="password"
          required
        />
        <!-- Hiển thị thông báo lỗi cho password -->
        <div *ngIf="errorMessage && !credentials.password" class="error-message">
          Mật khẩu không được để trống.
        </div>
      </div>

      <a routerLink="/forgot-password">Quên mật khẩu?</a>
      <button type="submit">Đăng nhập</button>
      
      <!-- Hiển thị thông báo lỗi chung -->
      <div *ngIf="errorMessage && !credentials.username && !credentials.password" class="error-message">
        Vui lòng điền đầy đủ thông tin đăng nhập.
      </div>
    </form>

    <div class="register-section">
      <span>Bạn chưa là thành viên ?</span>
      <span>
        Đăng ký là thành viên để hưởng nhiều lợi ích và đặt mua hàng dễ dàng hơn.
      </span>
      <a routerLink="/register">Đăng ký tài khoản</a>
    </div>
  </div>
</div>
