<form (ngSubmit)="login()">
  <h3>ĐĂNG NHẬP TÀI KHOẢN</h3>
  <span style="font-weight: bold;">Thông tin khách hàng đăng nhập hệ thống</span>

  <input [(ngModel)]="credentials.username" name="username" placeholder="Username" required />
  <input [(ngModel)]="credentials.password" name="password" placeholder="Password" type="password" required />
  <a routerLink="/forgot-password">Quên mật khẩu?</a>
  <button type="submit">Đăng nhập</button>
</form>

<div>
  <span>Bạn chưa là thành viên?</span>
  <span>Đăng ký là thành viên để hưởng nhiều lợi ích và đặt mua hàng dễ dàng hơn.</span>
  <a routerLink="/register">Đăng ký tài khoản</a>
